@mixin dark {
  // Backgrounds
  --background-base: #222;
  --background-base-alt: #333;
  --background-neutral-1: rgba(255, 255, 255, 0.08);
  --background-neutral-1-hover: rgba(255, 255, 255, 0.16);
  --background-neutral-1-pressed: rgba(255, 255, 255, 0.24);
  --background-neutral-2: rgba(255, 255, 255, 0.24);
  --background-neutral-2-hover: rgba(255, 255, 255, 0.32);
  --background-neutral-2-pressed: rgba(255, 255, 255, 0.4);
  --background-accent-opposite: #fff;
  --background-accent-opposite-hover: #f6f6f6;
  --background-accent-opposite-pressed: #ededed;
  --background-elevation-1: #292929;
  --background-elevation-2: #2f2f2f;
  --background-elevation-3: #373737;

  // Other
  --service-autofill-background: rgb(85, 74, 42);
  --border-normal: rgba(255, 255, 255, 0.14);
  --border-hover: rgba(255, 255, 255, 0.6);
  --border-focus: rgba(255, 255, 255, 0.64);

  // Statuses
  --status-negative: rgba(255, 140, 103, 1);
  --status-negative-pale: rgba(244, 87, 37, 0.32);
  --status-negative-pale-hover: rgba(244, 87, 37, 0.4);
  --status-positive: rgb(74, 201, 155);
  --status-positive-pale: rgba(74, 201, 155, 0.32);
  --status-positive-pale-hover: rgba(74, 201, 155, 0.4);
  --status-warning: rgb(255, 199, 0);
  --status-warning-pale: rgba(255, 199, 0, 0.32);
  --status-warning-pale-hover: rgba(255, 199, 0, 0.4);
  --status-info: rgb(112, 182, 246);
  --status-info-pale: rgba(112, 182, 246, 0.32);
  --status-info-pale-hover: rgba(112, 182, 246, 0.4);
  --status-neutral: rgb(149, 155, 164);

  // Text
  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: rgba(255, 255, 255, 0.72);
  --text-tertiary: rgba(255, 255, 255, 0.6);
  --text-action: #6788ff;
  --text-action-hover: #526ed3;
  --text-positive: #44c596;
  --text-positive-hover: #3aa981;
  --text-negative: #ff8c67;
  --text-negative-hover: #bb593a;
}


@mixin light {
  // Backgrounds
  --background-base: #fff;
  --background-base-alt: #f6f6f6;
  --background-neutral-1: rgba(0, 0, 0, 0.04);
  --background-neutral-1-hover: rgba(0, 0, 0, 0.08);
  --background-neutral-1-pressed: rgba(0, 0, 0, 0.12);
  --background-neutral-2: rgba(0, 0, 0, 0.08);
  --background-neutral-2-hover: rgba(0, 0, 0, 0.1);
  --background-neutral-2-pressed: rgba(0, 0, 0, 0.14);
  --background-accent-1: #526ed3;
  --background-accent-1-hover: #6c86e2;
  --background-accent-1-pressed: #314692;
  --background-accent-2: #ff7043;
  --background-accent-2-hover: #ff9a94;
  --background-accent-2-pressed: #e7716a;
  --background-accent-opposite: #000;
  --background-accent-opposite-hover: #333;
  --background-accent-opposite-pressed: #808080;
  --background-elevation-1: #fff;
  --background-elevation-2: #fff;
  --background-elevation-3: #fff;

  // Other
  --service-autofill-background: #fff5c0;
  --service-selection-background: rgba(112, 182, 246, 0.12);
  --service-backdrop: rgba(0, 0, 0, 0.75);
  --border-normal: rgba(0, 0, 0, 0.1);
  --border-hover: rgba(0, 0, 0, 0.16);
  --border-focus: rgba(51, 51, 51, 0.64);

  // Statuses
  --status-negative: rgba(244, 87, 37, 1);
  --status-negative-pale: rgba(244, 87, 37, 0.12);
  --status-negative-pale-hover: rgba(244, 87, 37, 0.24);
  --status-positive: rgba(74, 201, 155, 1);
  --status-positive-pale: rgba(74, 201, 155, 0.12);
  --status-positive-pale-hover: rgba(74, 201, 155, 0.24);
  --status-warning: rgba(255, 199, 0, 1);
  --status-warning-pale: rgba(255, 199, 0, 0.12);
  --status-warning-pale-hover: rgba(255, 199, 0, 0.24);
  --status-info: rgba(112, 182, 246, 1);
  --status-info-pale: rgba(112, 182, 246, 0.12);
  --status-info-pale-hover: rgba(112, 182, 246, 0.24);
  --status-neutral: rgb(121, 129, 140);

  // Text
  --text-primary: rgba(27, 31, 59, 1);
  --text-secondary: rgba(27, 31, 59, 0.65);
  --text-tertiary: rgba(27, 31, 59, 0.4);
  --text-primary-on-accent-1: #fff;
  --text-primary-on-accent-2: #fff;
  --text-action: #4c66c3;
  --text-action-hover: #6c86e2;
  --text-positive: #3aa981;
  --text-positive-hover: #7ac5aa;
  --text-negative: #dd4c1e;
  --text-negative-hover: #e38163;

  // Charts
  --chart-categorical-00: var(--background-accent-1);
  --chart-categorical-01: #ea97c4;
  --chart-categorical-02: #a0c5df;
  --chart-categorical-03: #fee797;
  --chart-categorical-04: #b0b0b0;
  --chart-categorical-05: #e29398;
  --chart-categorical-06: #b8474e;
  --chart-categorical-07: #fcc068;
  --chart-categorical-08: #ff8a00;
  --chart-categorical-09: #dab3f9;
  --chart-categorical-10: #7b439e;
  --chart-categorical-11: #8dda71;
  --chart-categorical-12: #fcbb14;
  --chart-categorical-13: #a8cef1;
  --chart-categorical-14: #bd65a4;
  --chart-categorical-15: #7fd7cc;
  --chart-categorical-16: #2fad96;
  --chart-categorical-17: #d4aca2;
  --chart-categorical-18: #9d6f64;
  --chart-categorical-19: #d2e9a2;
  --chart-categorical-20: #aadc42;
  --chart-categorical-21: #3682db;
  --chart-categorical-22: #34b41f;

  // Shadows
  --shadow-small: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  --shadow-small-hover: 0 1rem 2.5rem rgba(0, 0, 0, 0.14);
  --shadow-medium: 0 0.375rem 2rem rgba(0, 0, 0, 0.12);
  --shadow-medium-hover: 0 1.25rem 4rem rgba(0, 0, 0, 0.18);
  --shadow-popup: 0 1.25rem 3rem rgba(0, 0, 0, 0.2);
}


@media screen {

  [Theme='dark'] {
    color-scheme: dark;
    @include dark;
  }

  [Theme='light'] {
    color-scheme: light;
  }

  :root,
  :host,
  [Theme='light'] {
    @include light;
  }
}

@media print {

  :root,
  :host,
  [Theme] {
    color-scheme: light;
    @include light;
  }
}
