.right-main-container {
    display: flex;
    flex-direction: column;
}

.ride-list-title {
    height: 40px;
    margin: 0;
    margin-bottom: 8px;
}

.filter-container {
    display: flex;
    gap: 8px;

}

.rides-container {
    flex-grow: 1;
    overflow-y: auto;
}

.empty-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-primary);
    height: 100%;

    img {
        height: 244px;
        border-radius: 10px;
    }

    .empty-msg-title {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .empty-msg-summary {
        font-size: 1rem;
        font-weight: 400;
    }
    p {
        margin: 0;
    }
}